---
const btnDtl = "Know More";
---

<div class="flex justify-center bg-white">
    <button class="px-5 py-3 text-4xl font-semibold text-black bg-violet-300 border-2 rounded-xl border-violet-900">{btnDtl}</button>
</div>